<div style="text-align: center">
    <div class="container-fluid header">
        <div class="row">
            <div class="col-md-12">
                <a style="color:white;">My Dicitionary Application</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <form #searchForm="ngForm" autocomplete="off">
                    <div >
                        <input  type="text" name="WordDescription" (input)="showSuggestion()"
                         [(ngModel)]="WordDescription" #title="ngModel" class="form-control"
                            placeholder="Search word..." required>

                        <div *ngIf="suggestionArray.length>0">
                            <ul  class="myUL">
                                <li (click)="selectValue(items)" *ngFor="let items of suggestionArray">
                                    <a>{{items}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-default"  (click)="wordSearch()">Search</button>
            </div>
        </div>

       
    </div>
</div>



    <div *ngIf="word">
        <app-search [Sentence]="result" [word]="word"  ></app-search>
    </div>

<router-outlet></router-outlet>